{$TPI_PUBLIC_DOMAIN:localhost} {
	log {
		output stdout
		format json
	}

	reverse_proxy public:8501
}

backoffice.{$TPI_PUBLIC_DOMAIN:localhost} {
	log {
		output stdout
		format json
	}

	reverse_proxy backoffice:8501
}
