option_settings:
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
    ServiceRole: tpi-backoffice-dev-eb-service-role
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
    IamInstanceProfile: tpi-backoffice-dev-ec2-profile
    SecurityGroups: sg-0eef93dbf801489b2
    DisableDefaultEC2SecurityGroup: true
    DisableIMDSv1: true
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 1
  aws:ec2:vpc:
    VPCId: vpc-0f86145db5a906b73
    Subnets: subnet-0c91f8646aff84d47
    AssociatePublicIpAddress: true
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:application:environment:
    APP_ENV: aws-dev
    APP_NAME: TPI Backoffice DEV
    APP_DEBUG: "false"
    DEV_DELETE_ENABLED: "true"
    DATABASE_HOST: tpi-postgres-dev.c3mecc2g6wb7.us-east-2.rds.amazonaws.com
    DATABASE_PORT: "5432"
    DATABASE_NAME: tpi
    DATABASE_USER: tpi_app
    DATABASE_SCHEMA: tpi
    DATABASE_SSLMODE: require
    DATABASE_CONNECT_TIMEOUT: "10"
    DATABASE_POOL_MIN_SIZE: "1"
    DATABASE_POOL_MAX_SIZE: "5"
    DATABASE_POOL_TIMEOUT: "30"
    LOG_LEVEL: INFO
  aws:elasticbeanstalk:application:environmentsecrets:
    DATABASE_PASSWORD: arn:aws:secretsmanager:us-east-2:821656895812:secret:tpi/dev/database-password-Zu4Lk2
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: "7"
  aws:elasticbeanstalk:cloudwatch:logs:health:
    HealthStreamingEnabled: true
